{% extends 'eniQCMBundle::layout.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block content %}
    {% if app.user and is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
        <div class="jumbotron">
            <h1>Bonjour {{ app.user.getPrenom()|capitalize }}</h1>
            <p class="lead">Utilisez le menu en haut de la page afin de naviguer sur le site.</p>
        </div>
    {% else %}
        <div class="jumbotron">
            <h1>Questionnaires ENI</h1>
            <p class="lead">
            	Connectez-vous afin de valider vos compétences.</br>
            	De nombreux tests sont disponibles : PHP, JAVA, SQL, Javascript ...
            </p>
            <p><a class="btn btn-lg btn-success connexion" href="{{ path("connexion")}}" role="button">Connexion</a></p>
        </div>
    {% endif %}
{% endblock %}
