/*Ajout effet hover sur bouton*/
.btn, .update-theme, .update-promo {
	-webkit-transition-property:background color;
	-webkit-transition-duration:0.25s;
	-webkit-transition-timing-function:linear;
	-o-transition-property:background color;
	-o-transition-duration:0.25s;
	-o-transition-timing-function:linear;
	transition-property:background color;
	transition-duration:0.25s;
	transition-timing-function:linear;
}

/* Affichage menu dropdown au hover plutôt qu'au clic */
.dropdown:hover {
	background-color: #e7e7e7;
	color: #555;
}
.sidebar-nav {
    padding: 9px 0;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}
.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.glyphicon-plus, .glyphicon-minus {
	padding-right: 5px;
}


/* Thème / Promotion */
.theme, .promo {
	margin-top: 40px;
}

.update-theme, .update-promo {
	font-size: 18px;
	padding-left: 20px;
	cursor: pointer;
}
.update-theme:hover, .update-promo:hover {
	color: #47A447;
}

th.theme, td.theme, th.promo, td.promo {
	text-align: center;
}

/* Test / Question */
#createTest, #createQuestion, .test, .question {
	margin-top: 40px;
}
.createTest, .createQuestion {
	display: block !important;
	margin-top: 40px;
}
.sections .section, .reponses .reponse {
	margin-top: 15px;
	list-style-type: none;
}
.sections .section.close, .reponses .reponse.close {
	display: none;
}

.reponse [type="checkbox"] {
	height: 14px;
	width: auto;
}

/* Profile */
#updateProfile {
	margin-top: 40px;
}

/* Inscription */
#createInscription {
	margin-top: 40px;
}
#inscription_utilisateur {
	height: 425px;
}
#createInscription .promotions, #createInscription .stagiaires {
	height: 185px;
}
#createInscription .addPromo {
	position: absolute;
	top: 330px;
	left: 525px;
	padding-left: 15px;
}
#createInscription .removePromo {
	position: absolute;
	top: 420px;
	left: 525px;
	padding-right: 15px;
}
#createInscription .addUser {
	position: absolute;
	top: 565px;
	left: 525px;
	padding-left: 15px;
}
#createInscription .removeUser {
	position: absolute;
	top: 655px;
	left: 525px;
	padding-right: 15px;
}
#createInscription .label_inscrits {
	float: none;
	top: -470px;
	left: 580px;
}



/* Stagiaire liste tests */
.testsStagiaire {
	margin-top: 40px;
}

/* questionnaire stagiaire */
#question-pagination .nbQuestion {
	position: absolute;
	top: 70px;
	left: 15px;
	font-size: 1.3em;
	font-weight: bold;
	font-family: cursive;
}
#question-pagination .questionMarquee {
	position: absolute;
	top: 70px;
	right: 45px;
	font-size: 1.1em;
	font-family: cursive;
}

.countdown {
	font-size: 1.5em;
	color: red;
	font-weight: bold;
	position: absolute;
	right: 30px;
	top: 10px;
}

.question .enonceQuestion {
	margin-left: -25px;
}
.question .reponsesQuestion {
	margin-left: 10px;
}
.recapitulatif {
	float: right;
	margin-top: -17px;
}
.paginationQuestion .prev {
	margin-right: 15px;
}
.paginationQuestion .next {
	margin-left: 15px;
}
.paginationQuestion {
	display: block;
	text-align: center;
}