/*Ajout effet hover sur bouton*/
.btn, .update-theme {
	-webkit-transition-property:background color;
	-webkit-transition-duration:0.25s;
	-webkit-transition-timing-function:linear;
	-o-transition-property:background color;
	-o-transition-duration:0.25s;
	-o-transition-timing-function:linear;
	transition-property:background color;
	transition-duration:0.25s;
	transition-timing-function:linear;
}

.glyphicon-plus, .glyphicon-minus {
	padding-right: 5px;
}

/* Thème */
.theme {
	margin-top: 20px;
}

.update-theme {
	font-size: 18px;
	padding-left: 20px;
	cursor: pointer;
}
.update-theme:hover {
	color: #47A447;
}

th.theme, td.theme {
	text-align: center;
}

/* Test */
#createTest {
	margin-top: 40px;
}
.createTest {
	display: block !important;
	margin-top: 40px;
}
.sections .section {
	margin-top: 15px;
	list-style-type: none;
}
.sections .section.close {
	display: none;
}

/* Promotions */
#promotion {
	margin-top: 30px;
}
