{% extends 'eniQCMBundle::layout.html.twig' %}

{% block title %}
Administration des inscriptions
{% endblock %}

{% block js %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/lib/bootstrap-datepicker.js') }}"></script>
{% endblock %}

{% block content %}
	<h2>Inscriptions à un test</h2> 
	<form id="createInscription" action="{{ path('inscription_create') }}" method="post" role='form' class='form-horizontal'>
		{{form_widget(form) }}
		<input type="submit" class="btn btn-primary" value="Valider">
	</form>

	<script type="text/javascript">
	$(function() {
		$('.datepicker').datepicker({
			format: 'dd/mm/yyyy',
			language: 'fr'
		});
console.log($('#createInscription .promotions'));
		// Surcharge css formulaire
		$('#createInscription .promotions').parent().css({
			"width": "40%",
			"float": "none",
			"margin-top": "35px"
		});
		$('#createInscription .stagiaires').parent().css({
			"width": "40%",
			"float": "none",
			"margin-top": "35px"
		});
		$('#createInscription .inscrits').parent().css({
			"width": "40%",
			"float": "right",
			"min-heigth": "430px",
			'margin-top': '-438px'
		});

		
	});
	</script>
{% endblock %}